[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bturng
[access "refs/for/refs/*"]
	read = group user/bturng
	push = group user/bturng
	label-Code-Review = -2..+2 group user/bturng
	label-Verified = -1..+1 group user/bturng
	rebase = group user/bturng
	removeReviewer = group user/bturng
	submit = group user/bturng
[access "refs/heads/*"]
	read = group user/bturng
	create = group user/bturng
	push = +force group user/bturng
	pushMerge = group user/bturng
[access "refs/tags/*"]
	push = group user/bturng
	push = +force group user/bturng
